---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=h7IX5qQy0Myde3Jatcww9QwAn4t0VAL5Y1bubFwgecCJecfNWbvYrYFHonvC726h&api_action=linode.reboot&api_responseFormat=json&LinodeId=3068345
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"linode.reboot","DATA":{"JobID":48877729},"ERRORARRAY":[]}'
  recorded_at: Wed, 03 May 2017 21:13:54 GMT
recorded_with: VCR 3.0.3
