---
http_interactions:
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=h7IX5qQy0Myde3Jatcww9QwAn4t0VAL5Y1bubFwgecCJecfNWbvYrYFHonvC726h&api_action=avail.linodeplans&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.linodeplans","DATA":[{"CORES":1,"XFER":1000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":5.00,"PLANID":1,"LABEL":"Linode
        1024","DISK":20,"RAM":1024,"HOURLY":0.0075},{"CORES":1,"XFER":2000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":10.00,"PLANID":2,"LABEL":"Linode
        2048","DISK":30,"RAM":2048,"HOURLY":0.0150},{"CORES":2,"XFER":3000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9":500,"10":500},"PRICE":20.00,"PLANID":3,"LABEL":"Linode
        4096","DISK":48,"RAM":4096,"HOURLY":0.0300},{"CORES":4,"XFER":4000,"AVAIL":{"11":500,"2":500,"3":500,"4":500,"6":500,"7":500,"8":500,"9"[...]
- request:
    method: post
    uri: https://api.linode.com/
    body:
      encoding: UTF-8
      string: api_key=h7IX5qQy0Myde3Jatcww9QwAn4t0VAL5Y1bubFwgecCJecfNWbvYrYFHonvC726h&api_action=avail.datacenters&api_responseFormat=json
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ACTION":"avail.datacenters","DATA":[{"LOCATION":"Dallas, TX, USA","DATACENTERID":2,"ABBR":"dallas"},{"LOCATION":"Fremont,
        CA, USA","DATACENTERID":3,"ABBR":"fremont"},{"LOCATION":"Atlanta, GA, USA","DATACENTERID":4,"ABBR":"atlanta"},{"LOCATION":"Newark,
        NJ, USA","DATACENTERID":6,"ABBR":"newark"},{"LOCATION":"London, England, UK","DATACENTERID":7,"ABBR":"london"},{"LOCATION":"Tokyo,
        JP","DATACENTERID":8,"ABBR":"tokyo"},{"LOCATION":"Singapore, SG","DATACENTERID":9,"ABBR":"singapore"},{"LOCATION":"Frankfurt,
        DE","DATACENTERID":10,"ABBR":"frankfurt"},{"LOCATION":"Tokyo 2, JP","DATACENTERID":11,"ABBR":"shinagawa1"}],"ERRORARRAY":[]}'
  recorded_at: Wed, 03 May 2017 20:52:11 GMT
recorded_with: VCR 3.0.3
